{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block auth %}

<div class="auth-container">

    <div class="auth-card">

        <div class="logo">
            <i class="bi bi-key-fill"></i>
        </div>

        <h2 class="auth-title">
            Forgot Password
        </h2>

        <p class="subtitle">
            Reset your account password
        </p>

        <!-- Flash Messages -->

        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

        {% for category,message in messages %}

        <div class="alert alert-{{category}}">
            {{message}}
        </div>

        {% endfor %}

        {% endif %}

        {% endwith %}

        <form method="POST">

            <div class="mb-3">

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Registered Email"
                    required>

            </div>

            <div class="mb-3">

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="New Password"
                    required>

            </div>

            <div class="mb-4">

                <input
                    type="password"
                    name="confirm"
                    class="form-control"
                    placeholder="Confirm Password"
                    required>

            </div>

            <button class="btn btn-login">

                Reset Password

            </button>

        </form>

        <hr>

        <p class="text-center">

            <a href="/">

                ← Back to Login

            </a>

        </p>

    </div>

</div>

{% endblock %}